body {
    background-image: url("img/monsoon.png");
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size:large;
    font-style: inherit;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .converter {
    
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: lightblue;
  }
  .center{
    text-align: center;
    
  }
  
  .converter label {
    
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .converter input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .converter button {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: seagreen;
    color: white;
    font-weight: bold;
  }
  
  .result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
  }